<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h2 class="weatherText">Weather Dashboard in Flask</h2>
    <form class="weatherText" id="weatherForm" action="{{ url_for('weather_result') }}" method="post">
        Location ZIP Code :
        <input type="text" id="weatherInput" name="zip_code" class="weatherText">
        <input type="submit" id="weatherSubmit" value="Submit" class="weatherText">
    </form>
</body>
</html>