<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/result.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="weatherResult">
         <h3>Weather in {{ location }}</h3>

        <h2>{{ temp }} &deg; C</h2>

        <h3>{{ weather }}</h3>
        <h4>Feels like : {{ feels_like }} &deg; C</h4>
    </div>

</body>
</html>