h2 {
    font-weight: bold;
    padding-left: 20px;
}

#weatherForm {
    padding-left: 20px;
}

#weatherInput {
    border: 1px solid red;
    border-radius: 5px;
    padding-left: 10px;

}

#weatherSubmit {
    color: white;
    background-color: #fa8072;
    padding: 5px 20px;
    border-radius: 5px;
}

#weatherSubmit:hover {
    cursor: pointer;
}

.weatherText {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}




