body {
    font-family: 'Lato', sans-serif;
}

#weatherResult   {
    background-color: #fa8072;
    font-size: 24px;
    padding: 20px;
    display: inline-block;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
}